

.attributes-view .list-cell {
    -fx-background-color: #f4f4f4; 
}

.attributes-view .list-cell:filled:selected:focused, .list-cell:filled:selected {
    -fx-background-color: #f4f4f4;
   
}

 #attributeNameLabel {
	-fx-text-fill: black;
}

#attributeLevelLabel {
	-fx-text-fill: black;
}